html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.left {  
    text-align: left;  
}  
  
.center {  
     text-align: center;  
}  
  
.right {  
     text-align: right;  
}  
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	/*height: 18%;*/
        width: 99%px;
        height: 191px;
        margin: 0 auto;
        background-color: #003366; 
	/*background-image: url('/resources/img/vinculacionTecnologica.png');*/
        background-image: url("#{resource['img:/vinculacionTecnologica.png']}");        
        /*background-size: 900px 191px;*/
        background-size: 100%;
                          
        position: relative;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	//overflow: hidden;
}
.content {
	padding: 1% 0 0 1%;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
/*.left-sidebar {
        float: left;
	width: 15%;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}
*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: 0 auto ;
	min-width: 99%;
	height: 5%;
	position: relative;
        
/*        background-color: #6685A3; */
        background-color: #444444;

        position: relative;
}

.ui-icon-imprimir{   
    width: 32px;   
    height: 32px;   
    background-image: url("#{resource['img/print_printer.png']}");   
} 

.ui-icon-cancelar{
    background-image: url("#{resource['img/cancel.jpg']}") !important;
}
