html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.left {  
    text-align: left;  
}  
  
.center {  
     text-align: center;  
}  
  
.right {  
     text-align: right;  
}  
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	/*height: 18%;*/
        width: 950px;
        height: 191px;
        margin: 0 auto;
        background-color: #003366; 
        background-image: url("#{resource['img:/vinculacionTecnologica.png']}");        
        background-size: 100%;
        background-repeat: no-repeat ;
                          
        position: relative;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	//overflow: hidden;
}

.menu1{
    width: 950px; 
    margin: 6px auto 6px auto;
    
}
.content {
	
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
/*.left-sidebar {
        float: left;
	width: 15%;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}
*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
        width: 950px;
        /*min-width: 100%;*/        
        background-color: #444444;    
	margin: auto ;
	height: 5%;
        vertical-align: middle;
        text-align: center;
	position: relative;
        /*background-color: #6685A3; */

}

.ui-icon-imprimir{   
    width: 32px;   
    height: 32px;   
    background-image: url("#{resource['img/print_printer.png']}");   
} 

.ui-icon-cancelar{
    background-image: url("#{resource['img/cancel.jpg']}") !important;
}
