/*.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
}

.fondoTextura{
/*    background: #e3e3e3 url("#{resource['img:/fondoLogin.png']}") repeat;*/
    background-image: url("#{resource['img:/tweed.png']}");
/*    background-color: #e3e3e3;*/
    background-repeat: repeat;
}

.sinBordes tr, .sinBordes td {
    background: none !important;
    border: none !important;
}

.ui-widget {
/*     font-size: 95% !important;*/
    font-size: 12px !important;
}

.etiqueta{
/*    display: inline-block !important;*/
/*    width: 300px;*/
}

.columnaGrid{
    width: 200px;
}


.columnaIzquierda{
    text-align: left;
    width: 200px !important;
}

.columnaDerecha{
    text-align: right;
/*    width: 200px !important;*/
}

.fieldSetIzquierdo {
    display: inline-block; 
    width: 46%; 
    float: left;
}

/*.fieldSetIzquierdo .ui-panelgrid td{
    width: 200px; 
}*/

.fieldSetDerecho {
    display: inline-block; 
    width: 46%; 
    float: right;
}

/*.fieldSetDerecho .ui-panelgrid td{
    width: 200px; 
}*/

.fieldSetUnico {
    clear:both;
}

.ui-panelgrid td{}